h1,h2,h3,h4,h5,h6,p,a{
	font-family: "微軟正黑體", "Noto Sans CJK TC", "新細明體";
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-default {
  background-color: #333;
  border-color: #555;
}
.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFF;
}
.navbar-default .navbar-text {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #FCBF49;
  transition: all .4s ease-in-out;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #EEEEEE;
}
.btn-primary {
  color: #fff;
  background-color: #FCBF49;
  border-color: #F0A535;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #F7A939;
  border-color: #E0B020;
}
.panel-primary {
  border-color: #F0A535;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #F0A535;
  border-color: #F0A535;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #F0A535;
  border-top-color: #F0A535;
}
article, .article{
	background-image: url(images/bg1.jpg);
	background-attachment: fixed;
}
.content{
	padding-left: 20px;
	padding-right: 20px; 
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #FFF;
	border-radius:10px;
}
footer{
	padding: 30px 0 30px 0;
	/*background-color: #555555;*/
	color: #FFF;
}
.jumbotron {
	margin-bottom: 0;
	background-color: transparent;
}

/*
美髮系統(hair)
	jum-h1: 大標
	jum-h2: 3大特色
	jum-h3: 功能
顧客
	jum-cus1
資源 
	jum-res1
服務 
	jum-serv1
聯絡 
	jum-cont1
*/

.jum-h1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-h1.jpg);
}
.jum-h2{
	background-image: url(images/jumbotron-h2.jpg);
	background-repeat: repeat;
	box-shadow: 0 30px 40px rgba(0,0,0,0.5) inset;
}
.jum-h3{
	background-image: url(images/jumbotron-h3.jpg);
	background-size: cover;
}
.jum-spa1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-spa1.jpg);
	background-position: center;
	background-size: cover;
}
.jum-beau1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-beau1.jpg);
	background-size: cover;
	background-position: center;
}
.jum-nail1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-nail1.jpg);
	background-size: cover;
}
.jum-tatt1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-tatt1.jpg);
	background-position: center;
	background-size: cover;
}
.jum-tabl1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-tabl1.jpg);
	background-position: center;
	background-size: cover;
}
.jum-succ1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-succ1.jpg);
	background-size: cover;
}
.jum-cus1{
	padding-top: 100px;
	padding-bottom: 200px;	 
	background-image: url(images/jumbotron-cus1.jpg);
}
.jum-h3 h1,.jum-cus1 h1,.jum-cus1 p, .jum-serv1, .jum-spa1,.jum-tatt1,.jum-succ1{
	color:#FFF;
}
.jum-res1 h1, .jum-res1 p{
	color: #000;
}
.jum-cont1{
	background-image: url(images/jumbotron-cont1.jpg);
}
.jum-res1{
	padding-top: 100px;
	padding-bottom: 200px;
	background-image: url(images/jumbotron-res1.jpg);
}

.feature-row{
	padding: 70px;
	padding-top: 20px; 
}
.feature-box{
	padding: 20px; 
}	
.feature{
	padding: 50px;
	height: 550px;
	background-color: #FFF;
	text-align: center;
	margin-top: 20px;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}
.feature:hover,.feature:focus{
	box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
	transition: all .4s ease-in-out;
}
.feature h3{
	margin-top: 70px;
	margin-bottom:40px;
}
.feature p{
	font-size: 16px;
}
.circle{
	background-color: #f4c071;
	color: #FFF;
	border-radius: 100%;
	padding: 30px;
	width: 150px;
	height: 150px;
	margin: 0 auto 0 auto;
}
.circle2{
	background-color: #F0A535;
}
.circle3{
	background-color: #d8942f;
}
.circle:hover,.circle:focus{
	background-color: #333333;
	transition: all .4s ease-in-out;
}
.func-h{ /*美髮系統功能*/
	margin: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	height: 200px;
	border-radius: 5px;
}
.func-h:hover, .func-h:focus{
	background-color:rgba(0,0,0,0.8);
	transition: all .4s ease-in-out;
}
.func-h h3{
	color: #F0A535;
	font-size: 22px;
}
.func-h p{
	font-size: 15px;
	color: #FFF;
}
.success-row{
	padding: 20px 0;
}
.success-row:first-child{
	padding-top: 60px;
}
.success{
	padding: 0;
	box-shadow: 0px 0px 30px rgba(20%,20%,40%,0.3);
}
.succ-pic{
	position: relative;
	width: 100%;
	top:0;
	left:0;
}
.nav-list{
	position: fixed;
	bottom: 0;
  	right: 0;
	z-index: 100;
	padding: 20px;
}
.nav-list .list-group-item{
	width: 200px;
	font-family: "微軟正黑體", "新細明體";
	font-size: 18px;
	color: #FFF;
	background-color: #555555;
	border: solid 1px #444444;
}
.nav-list .list-group-item a{
	color:#FFF;
	text-decoration: none;
}
.nav-list .list-group-item:hover{
	background-color: #F0A535;
	border: solid 1px #d8942f;
	transition: all .4s ease-in-out;
}
.nav-list a.page-scroll:hover {
	text-decoration: none;
}
.list-group-item.top-item-fix{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.list-group-item.middle-item-fix{
	border-radius: 0;
}
.list-group-item.bottom-item-fix{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.customer li{
	list-style: circle;
}
.customer a{
	font-size: 20px;
	text-decoration:none;
	color:#333;
}
.customer a:hover{
	color:#F0A535;
	transition: all .4s ease-in-out;
}

.contact-h1{
	margin-top: 0;
	margin-bottom: 30px;
}
.contact{
	background-color: rgba(55,55,55,0.7);
	color:#FFF;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.contact:hover{
	background-color: #F0A535;
	transition: all .4s ease-in-out; 
}
.contact h3{
	margin-top: 0;
}
.contact p{
	margin-bottom: 0;
}
.rwd-iframe{
	margin: 0 5px;
	position: relative;
	padding-top:0;
	padding-bottom:400px;
}
.rwd-iframe iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.headerfix, .headerfix h1{
	margin-top: 0;
}
.contentfix{
	padding-top: 30px;
}
.connect{
	text-align: center;
}
.connect a{
	color:#555;
	text-decoration:none;
}
.connect a:hover{
	color:#F0A535;
	transition: all .4s ease-in-out; 
}

.news{
	line-height: 30px;
}

.carousel-inner > .item {
    -webkit-transition: 1.0s ease-in-out left;
    -moz-transition: 1.0s ease-in-out left;
    -o-transition: 1.0s ease-in-out left;
    transition: 1.0s ease-in-out left;
}

@media (max-width: 767px){  /*手機 */
	.carousel-caption  h1{
  		font-size: 20px;
	}
	.carousel-caption  p{
  		font-size: 12px;
	}
	.carousel-indicators li {
		width: 5px;
		height: 5px;
	}
	.carousel-indicators .active {
		width: 6px;
		height: 6px;
	}
	.feature-row{
		padding: 5px;
		padding-top: 20px; 
	}
	.feature-box{
		padding: 10px; 
	}	
	.customer ul{
		margin-bottom: 0;
	}
	.service-scroll{
		display: none;
	}
	.context{
		margin-top: 0px;
	}
}
@media (max-width: 992px){
	.connect{
		margin: 40px;	
	}
	.func-h{
		margin: 10px;
		padding: 20px;
		height: auto;
	}
	.func-h:first-child{
		margin-top: 0;
	}
	.rwd-iframe{
		margin-top: 10px;
	}
	.success-row{
		padding: 0px;
	}
	.succ-pic{
		margin: 10px 0;
	}
}


